@import "fonts";
@import "variables";

@mixin flex($align: "center", $justify: "flex-start") {
  display: flex;
  align-items: #{$align};
  justify-content: #{$justify};
  @content;
}

@mixin grid($left: 1fr, $right: 1fr) {
  display: grid;
  grid-template: auto / #{$left} #{$right};
  @content;
}

@mixin col($align: "center", $justify: "center") {
  display: flex;
  flex-direction: column;
  align-items: $align;
  justify-content: $justify;
  @content;
}

@mixin iconbg() {
  @include flex(center, center);
  height: 72px;
  width: 72px;
  border-radius: calc(#{$radius}* 2.5);
  @content;
}

@mixin bgimg($size: "cover", $x: "center", $y: "center") {
  background-position: #{$x} #{$y};
  background-size: #{$size};
  background-repeat: no-repeat;
  @content;
}

@mixin odd($odd: "true") {
  @if $odd {
    li:nth-child(even) {
      .media {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
      }
      @content;
    }
  } @else {
    li:nth-child(odd) {
      .media {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
      }
      @content;
    }
  }
}

@mixin transition($duration: 0.3, $ease: "ease") {
  transition: all #{$duration}s #{$ease};
}

@mixin message($bgcolor: "light", $position: "left", $offset: -0.75rem) {
  position: relative;
  font-size: 0.9rem;
  max-width: 15rem;
  border-radius: $radius;
  padding: 0.75rem;
  background-color: color(#{$bgcolor});
  filter: drop-shadow(0 0 0.03rem color(grey, light));
  &:before {
    content: "";
    position: absolute;
    top: 1rem;
    #{$position}: $offset;
    width: 1rem;
    height: 1rem;
    @include bgimg(cover, #{$position}, center) {
      background-image: url("../images/bubble-tail-#{$position}.png");
    }
  }
  @content;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

button {
  border: none;
}

body,
html {
  color: color(black);
  font-size: 20px;
  font-family: "Sofia Pro", "sans-serif";
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

body {
  @include col {
    grid-row-gap: 2rem;
  }
}

section {
  padding: 2rem 0;
}

.container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

.scroll {
  position: fixed;
  z-index: 99;
  top: 0;
  height: 5px;
  width: 100%;
  transform-origin: left center;
  background-color: color(primary);
}

.clickable {
  transition: transform 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  &:hover {
    transform: scale(1.05);
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  }
}

h2 {
  font-size: 1.8rem;
  font-weight: get-me($fontweights, semibold);
}

h3 {
  color: color(grey);
  font-size: 1rem;
  font-weight: get-me($fontweights, regular);
}

h4 {
  color: color(black, light);
  font-weight: get-me($fontweights, semibold);
  font-size: 1.5rem;
}

h5 {
  color: color(grey, lighter);
  font-weight: get-me($fontweights, bold);
  font-size: 3rem;
}

h6 {
  font-weight: get-me($fontweights, medium);
}

hr {
  visibility: hidden;
}

h6,
i {
  font-size: 0.8rem;
}

p {
  font-size: 0.9rem;
  font-weight: get-me($fontweights, light);
  color: color(black, light);
}

video {
  width: 100%;
  object-fit: contain;
  border-radius: $radius;
}
nav.pinned {
  z-index: 20;
  width: 100%;
  position: fixed;
  animation: pinning .6s ease forwards;
  @keyframes pinning {
    0% {
      top: -10%;
    }
    30% {
      top: 0.75rem;
    }
    50% {
      top: .35rem
    }
    100% {
      top: .5rem
    }
  }
}
nav {
  ul {
    @include flex;
    margin: 1rem 0;
  }
  li {
    cursor: pointer;
    position: relative;
    font-size: 0.9em;
    @include flex;
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      width: 100%;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform .3s ease;
      background-color: color(primary);
    }
    &:hover {
      opacity: 1;
      color: color(primary) !important;
      animation: navhovering .3s ease;
      @keyframes navhovering {
        0% {
          transform: translateY(0);
        }
        20% {
          transform: translateY(.2rem);
        }
        45% {
          transform: translateY(-.05rem);
        }
        80% {
          transform: translateY(.025rem);
        }
        100% {
          transform: translateY(0);
        }
      }
    }
  }
  li:first-child {
    font-size: 1rem !important;
    display: flex;
    flex: 1;
    img {
      height: 52px;
    }
    h4 {
      font-size: 1rem;
      margin: 0 0.5rem;
    }
    span {
      display: inline-block;
      width: 1px;
      height: 2rem;
      margin-right: 0.5rem;
      background-color: color(grey);
      opacity: 0.25;
    }
  }
  li.active {
    position: relative;
    font-weight: get-me($fontweights, semibold) !important;
    color: color(black) !important;
    &:before {
      transition: transform .3s ease;
      transform: scaleX(1);
    }
  }
  li:nth-child(n + 2) {
    color: color(grey);
    padding: 1.5rem 0;
  }
  li:nth-child(n + 3) {
    margin-left: 1.5rem;
  }
  .nav-bg.pinned {
    z-index: -1;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    @include flex;
    .bgblur {
      position: relative;
      width: 85%;
      max-width: 1300px;
      height: 100%;
      margin: 0 auto;
      backdrop-filter: blur(20px);
      background-color: rgba(color(grey, lighter), 0.5);
      border-radius: calc(#{$radius} * 5);
    }
  }
}

header {
  ul {
    @include grid {
      grid-column-gap: 2.5rem;
      align-items: center;
    }
  }
  hr {
    height: 4rem;
  }
  .by {
    @include flex {
      grid-column-gap: 1.25rem;
    }
    .title {
      @include col {
        grid-row-gap: 0.2rem;
      }
      span:first-child {
        font-weight: get-me($fontweights, regular);
      }
      span:nth-child(2) {
        font-size: 0.8rem;
        color: color(grey);
      }
    }
    .profile {
      @include flex(center, center);
      height: 3rem;
      width: 3rem;
      border-radius: calc(#{$radius} * 3);
      background-color: color(grey, lighter);
      .me {
        height: 2.25rem;
        width: 2.25rem;
        border-radius: calc(#{$radius} * 2.25);
        @include bgimg {
          background-image: url("../images/neo-wen-kiong-clear.png");
        }
      }
    }
  }
  li:first-child {
    h3 {
      font-size: 1rem;
      font-weight: get-me($fontweights, medium);
      color: color(grey);
    }
    h1 {
      display: block;
      max-width: 20rem;
      margin: 1.75rem 0;
    }
    p {
      max-width: 25rem;
    }
  }
  /*---Chat Interface---*/
  li:last-child {
    .chatroom {
      // overflow: hidden;
      border-radius: $radius;
      background-color: color(seatalk);
      ul.title,
      ul.chat {
        padding: 1rem;
      }
      ul.title {
        border-radius: $radius $radius 0 0;
        @include flex {
          grid-column-gap: 1rem !important;
        }
        background-color: color(seatalk, light);
        li {
          font-weight: get-me($fontweights, semibold);
          @include flex;
          span {
            @include flex;
            font-size: 0.8rem;
            font-weight: get-me($fontweights, medium);
            color: color(primary);
            background-color: rgba(color(primary), $alpha: 0.1);
            height: 1.5rem;
            padding: 0 0.5rem;
            border-radius: calc(#{$radius} * 2);
            margin: 0.25rem 0.5rem;
          }
        }
        li:first-child {
          @include bgimg {
            background-image: url("../images/gp02.jpg");
          }
          border-radius: calc(#{$radius} / 2);
          height: 48px;
          width: 48px;
        }
        li:last-child {
          flex: 1;
          justify-content: flex-end !important;
        }
      }
      ul.chat {
        margin: 0.75rem 0;
        @include flex {
          flex-direction: column;
          grid-row-gap: 1.75rem;
          align-items: flex-start !important;
        }
        li:first-child {
          align-self: center;
          color: color(light);
          font-size: 0.6rem;
          background-color: color(grey, light);
          padding: 0.3rem 0.4rem;
          border-radius: calc(#{$radius} / 2);
        }
        li.dialogue {
          @include flex(flex-start);
          grid-column-gap: 1.5rem;
          .avatar {
            @include bgimg;
            min-height: 96px;
            min-width: 96px;
            border-radius: calc(#{$radius} / 2);
          }
          #id01 {
            background-image: url("../images/id01.jpg");
          }
          #id02 {
            background-image: url("../images/id02.jpg");
          }
          #id03 {
            background-image: url("../images/id03.jpg");
          }
          .message-left {
            min-height: 2.5rem;
            @include message {
              .mention {
                color: color(primary);
              }
            }
          }
          .attachment {
            position: relative;
            padding-bottom: 0.2rem;
            margin-bottom: 0.5rem;
            &:before {
              position: absolute;
              content: "";
              bottom: 0;
              left: 0;
              width: 100%;
              height: 1px;
              background-color: color(grey, light);
              opacity: 0.25;
            }
            .file-container {
              @include flex;
              border-radius: calc(#{$radius}/ 2);
              padding: 0.5rem;
              background-color: color(grey, lighter);
            }
            .file {
              border-radius: calc(#{$radius}/ 2);
              background-color: color(light);
              @include flex;
              justify-content: center !important;
              height: 40px;
              width: 40px;
            }
            .filename {
              font-size: 0.8rem;
              margin: 0 0.75rem;
              color: color(grey, dark);
            }
          }
          .fileinfo {
            opacity: 0.5;
            margin: 0.5rem 0;
            span {
              font-size: 0.8rem;
              color: color(grey, light) !important;
            }
          }
          .status {
            display: block;
            margin-top: 0.5rem;
            font-size: 0.7rem;
          }
          span.name {
            color: color(grey, dark);
          }
          span.time {
            margin: 0 0.25rem;
            font-size: 0.8em;
            color: color(grey, light);
          }
        }
      }
      .message-right {
        @include message(primary, right, -0.5rem) {
          color: color(light);
        }
      }
      li.dialogue:last-child {
        align-self: flex-end;
        .bubble {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
        }
      }
    }
  }
}

/*---Keywords---*/
section.keywords {
  text-align: center;
  .icon-container {
    @include iconbg;
    background-color: color(primary);
    box-shadow: 0 0.75rem 1.25rem rgba(color(primary), $alpha: 0.25);
    object {
      width: 60px;
      height: 60px;
    }
  }
  ul.top {
    @include col {
      grid-row-gap: 1.25rem;
    }
  }
  hr {
    height: 2rem;
  }
  ul.bottom {
    display: grid;
    margin: 4rem 0;
    @include device-size(m) {
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 1rem;
    }
    li {
      @include col(center, flex-start);
      padding: 1rem;
      h4 {
        margin: 1rem 0;
      }
    }
  }
}

/*---Reviewing---*/
section.review {
  ul {
    @include grid {
      grid-column-gap: 5rem;
    }
    li.right {
      @include col {
        grid-row-gap: 1rem;
      }
    }
    li.left ul {
      @include col;
      grid-row-gap: 4rem;
      li {
        display: grid;
        grid-template: repeat(2, auto) 1rem auto / auto 1fr;
        grid-column-gap: 2rem;
        grid-row-gap: 0.15rem !important;
        div {
          @include iconbg;
          background-color: color(primary, light);
          align-self: center;
          grid-row: 1 / 3;
          object {
            width: 60px;
            height: 60px;
          }
        }
        p {
          grid-row: 4 / 5;
          grid-column: 1 / 3;
          span {
            display: block;
            padding: 0.5rem 0;
          }
        }
        h3 {
          align-self: flex-start;
        }
      }
    }
  }
}

/*---Regular Section---*/
section.regular {
  ul.top {
    @include col {
      grid-row-gap: 0.5rem;
    }
    text-align: center;
  }
  hr {
    height: 4rem;
  }
  ul.bottom {
    @include col {
      grid-row-gap: 7.5rem;
    }
    li.min {
      min-height: 30rem;
    }
    li {
      .media {
        position: relative;
        object {
          max-height: 20rem;
          object-fit: cover;
        }
        .example-toggle {
          cursor: pointer;
          min-height: 25rem;
          @include flex {
            flex-wrap: wrap;
          }
        }
        img {
          border-radius: $radius;
          max-height: 20rem;
          width: 100%;
          object-fit: cover;
        }
      }
      .text {
        @include col {
          grid-row-gap: 2rem;
        }
        h2 {
          font-size: 1.5rem;
        }
        hr {
          height: 1.25rem !important;
        }
        .button-toggle {
          @include flex {
            grid-column-gap: 1rem;
          }
          button {
            font-size: 0.8rem;
            font-weight: get-me($fontweights, semibold);
            color: color(grey, light);
            border-radius: $radius;
            padding: 0.6rem 0.9rem;
            background-color: color(grey, lighter);
          }
          button.decorated {
            font-weight: get-me($fontweights, semibold);
            transform: scale(1.05);
            color: color(light);
            background-color: color(primary) !important;
            box-shadow: 0 0.5rem 1.5rem rgba(color(primary), $alpha: 0.25);
            @include transition;
          }
        }
      }
      .figma {
        display: inline-block;
        width: fit-content;
        cursor: pointer;
        @include flex;
        grid-column-gap: 0.75rem;
        &:hover p,
        &:hover i {
          color: color(primary);
          @include transition;
        }
        &:hover .figma-icon {
          background-color: color(black, light);
          @include transition(0.6s);
        }
        &:hover i {
          padding-left: 0.5rem;
          @include transition;
        }
        p {
          font-weight: get-me($fontweights, regular);
          font-size: 0.8rem;
          padding: 0.45rem 0;
        }
        p,
        i {
          @include transition;
        }
        .figma-icon {
          border-radius: 1rem;
          display: block;
          height: 2rem;
          width: 2rem;
          @include transition;
          @include bgimg(contain) {
            background-image: url("../images/figma-icon-01.svg");
            background-color: color(light, dark);
          }
        }
      }
    }
  }
}

.credits {
  position: relative;
  width: fit-content;
  color: inherit;
  @include flex {
    grid-column-gap: 0.25rem;
  }
  padding: 0.25rem 0.5rem;
  border-radius: calc(#{$radius} * 2);
  color: color(grey);
  background-color: color(grey, lighter);
  @include transition;
  .arrow-right {
    position: absolute;
    opacity: 0;
    left: -0.5rem;
  }
  .brand,
  .arrow-right {
    @include transition;
  }
  &:hover .arrow-right {
    opacity: 1;
    left: 0.75rem;
    @include transition;
  }
  &:hover .brand {
    padding-left: 1.25rem;
    transform-origin: center;
    transform: rotate(360deg);
    @include transition;
  }
}

.credits.dribbble {
  &:hover {
    color: color(brands, dribbble);
    background-color: rgba(color(brands, dribbble), 0.15);
  }
}

/*---Overview---*/
section.overview {
  ul.bottom {
    @include odd(false);
    li {
      @include grid {
        grid-column-gap: 4rem;
        align-items: center;
      }
    }
  }
}

/*---Good---*/
section.good {
  ul.bottom {
    @include odd(true);
    li {
      @include grid {
        grid-column-gap: 4rem;
        align-items: center;
      }
    }
    .media {
      cursor: pointer;
    }
  }
}

/*---Improve---*/
section.improve {
  ul.bottom {
    @include odd(false) {
      @include grid(1fr, 1.5fr) {
        grid-column-gap: 3rem;
        align-items: center;
      }
    }
    li {
      min-height: 500px;
    }
    li:nth-child(even) {
      @include grid(1.5fr, 1fr) {
        grid-column-gap: 2.5rem;
        align-items: center;
      }
    }
    .media {
      width: 100%;
      height: 100%;
    }
    .contain-media {
      width: 100%;
      height: 100%;
      position: relative;
      .preview {
        cursor: pointer;
        border-radius: calc(#{$radius} * 1.5);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        @include bgimg;
        transition: opacity 0.6s ease,
          transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
        a {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      #st-window-old {
        background-image: url("../images/st-window-old.jpg");
      }
      #st-window-new {
        background-image: url("../images/st-window-new.jpg");
      }
      #st-window-diff {
        background-image: url("../images/st-window-diff.jpg");
      }
      #st-window-diff-labels {
        background-image: url("../images/st-window-diff-labels.jpg");
      }
    }
  }
}
